body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #878787;
    font-family: sans-serif;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

#caixa {
    width: 200px;
    height: 200px;
    background-color: #333;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 2px solid transparent;
}